.App {
  margin: auto;
  text-align: center;
  width: 90%;
}

.note { /* span item */
  color:#e74c3c;
}

.mycafeLink, .mailto {  /* 1 - link to mycafe web-site; 2 - mail to my email */
  color: #fff;
}

.mycafeLink:hover, .mailto:hover {
  color: #e67e22;
}
