.Citizens {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--block {
            display: flex;
            position: relative;
            width: 50%;
            height: 40px;
            align-items: center;

            .box {
                display: flex;
                padding: 5px 10px;
                align-items: center;

                .citiz {
                    width: 80%;
                    border-radius: 10px;
                    outline: none;
                    padding: 5px 10px;
                }

                .icon {
                    height: 18px;
                    width:  18px;
                    margin: 0 8px;
                }
            }

            .label-box {
                width: 90px;

                .label-ct {
                    font-weight: bold;
                }

                .label-ct-1 {
                    color: gold;
                }

                .label-ct-2 {
                    color: #C0C0C0;
                }

                .label-ct-3 {
                    color: #cd7f32;
                }
            }
        }
    }
}